<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AI Tanks <%= new Date().getFullYear(); %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="wrap">
      <header>
        <img src="/img/word.png" class="word" alt="IT Festival" />
        <img src="/img/logo1.png" class="logo" alt="IT Festival" />
        <div style="clear: both"></div>
      </header>

      <!-- menu -->
      <% include ../layout/menu.ejs%>

      <div class="content main">
        <!-- left -->
        <% include ./layout/left.ejs%>
        <!-- right -->
        <% include ./layout/right.ejs%>
        <div style="clear: both"></div>
      </div>

      <footer>
        Copyright &copy; <%= new Date().getFullYear(); %> by
        <a href="">HIT CLUB</a>
      </footer>
    </div>
  </body>
</html>
